@page "/home"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<div class="home-hero-wrapper">
    <div class="home-hero">
        <!-- A imagem agora será aplicada como background no CSS para melhor controle de preenchimento -->
    </div>
</div>
